/*小米商城首页*/
/*通用设置*/
* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI","微软雅黑";
    font-size: 16px;

}
a {
    text-decoration: none;
    color: #d6d6d6;
    text-align: center;
}
li {
    list-style-type: none;
}

/*顶部菜单设置*/
.topbar {
    height: 24px;
    background-color: rgb(51,51,51);
}
.topbar_menu {
    margin: auto 10px;
}
.topbar_menulist {
    height: 16px;
}
.menuitem {
    border-right: 0.3px solid #5d5d5d;
    border-left: 0.3px solid #ff5451;
    display: inline;
    padding: 0 3px;
    font-size: 25%;
}
.a_item {
    display: inline-block;
    height: 10px;
    font-size: 2px;
    text-align: center;
    margin-right: -8px;
}

<!--顶部菜单2 + logo-->
<!--左侧菜单 + -->
<!--秒杀等-->
<!--小米闪购-->

<!--手机-->
<!--家电-->
<!--智能-->

<!--视频-->

<!--底部菜单-->
<!--小米链接-->

